body {
    background-color: #f1f1f1;
}

.nav-main {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
}

.btn-toggle-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
    background-color: #f98f39;
    cursor: pointer;
}

.btn-toggle-nav:hover {
    opacity: 0.7;
}

.nav-main ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}

.nav-main ul li {
   list-style: none;
   line-height: 60px;
}

.nav-main ul li a {
    display: block;
    height: 100%;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.nav-sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50px;
    height: calc(100vh - 60px);
    padding: 0 5px;
    background-color: #1b1b1b;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.nav-sidebar ul {
    padding-top: 15px;
    overflow: hidden;
    visibility: hidden;
}

.nav-sidebar ul li {
    line-height: 60px;
    list-style: none;
}

.nav-sidebar ul li span,
.nav-sidebar ul li a {
    display: block;
    height: 60px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}

.nav-sidebar ul li a:hover {
    background-color: #222;
}